extends ./../layout.jade

block append scripts

block content
  p links(?)   
  table(border= '1')
    tr
      th Game/Date/Time/Field
      th Away - Score (field)
      th Home - Score (field)
      th Reported By
      th Status (dropdown)
      th Add Score (Button)
