extends layout

block append scripts
  //button onClick
  //validate fields
  //send email

block content
  h1
    p Contact The League
  hr
  h2
    p #{message}
  p Welcome to the contact page. To reach a league administrator please use one of the following contact methods.
  hr
  ul
    li
      p Email:&nbsp;
        a(href="mailto:frederictonfunsoftball@gmail.com") FrederictonFunSoftball@gmail.com
