extends layout

block append scripts

block content
  h2 League Rules
  hr
  p(align="right")
    | Last Update: May 2015
  h3 Table of Contents
  div#TOC
    ul
      li
        a(href="leagueRules#general") General
      li
        a(href="leagueRules#generalRules") General Rules
      li
        a(href="leagueRules#players") Players
      li
        a(href="leagueRules#umpires") Umpires
      li
        a(href="leagueRules#bases") Bases
      li
        a(href="leagueRules#scoring") Scoring
      li
        a(href="leagueRules#balls") Balls
      li
        a(href="leagueRules#bats") Bats
      li
        a(href="leagueRules#pitchingRules") Pitching Rules
        div#TOC1
          ul
            li
              a(href="leagueRules#pitchingRulesGeneral") General
            li
              a(href="leagueRules#pitchingRulesArc") Arc
            li
              a(href="leagueRules#pitchingRulesLocation") Location
      li
        a(href="leagueRules#fieldingRules") Fielding Rules
        div#TOC1
          ul
            li
              a(href="leagueRules#fieldingRulesGeneral") General
            li
              a(href="leagueRules#fieldingRulesCatcher") Catcher
      li
        a(href="leagueRules#hittingRules") Hitting Rules
        div#TOC1
          ul
            li
              a(href="leagueRules#hittingRulesGeneral") General
            li
              a(href="leagueRules#hittingRulesBatting") Batting
            li
              a(href="leagueRules#hittingRulesBaseRunning") Base Running
  h3 General
    a(id="general")
  hr
  p
    | The league is intended to be a fun league for everyone. These rules are to be used as a guideline unless safety is a concern,
    | in which case the rules must be followed. The idea is to give the league structure and make it safe and fair for everyone to play.
    | Discussions on whether rules are being followed is to be discussed between captains, who will then agree on how to proceed at
    | that time so the game can continue.
  h3 General Rules
    a(id="generalRules")
  hr
  p
    | Games will be 7 innings in length. The first 6 innings will have a 5 run limit in effect. There is no limit on the 7th inning
    | and 3 outs are required by each team to end the inning. If the game is tied after 7 innings, and provided there is still time, an
    | 8th inning should be played. The batter previous to the batter leading off the inning will be placed on second base at the start
    | of the inning and then the inning proceeds normally with no run limit.
  p
    | Prior to each game, a commitment line between third base and home plate will be drawn from the foul line to near the third base
    | fence roughly 2/3 of the way to home plate. If a runner passes this line, they cannot return to third base and must continue home.
    | Another line will be made that extends from the first base foul line to the third base fence. Once the runner touches or passes this
    | line the runner will be assumed to have scored and can longer be considered out.
  h3 Players
    a(id="players")
  hr
  p
    | While this is a fun league for everyone, players do assume some risk when stepping on the field. Players should be able to reasonably
    | protect themselves from a ball hit towards them. It is the responsibility of the team captain to ensure that a player is not placed
    | in a position where they would not be able to protect themselves from a ball batted towards them. Players are allowed to wear any
    | equipment they wish that will protect them from injury. Metal cleats are the only item that is not allowed to be worn by a player.
    | Plastic cleats are fine and are encouraged especially in the outfield.
  h3 Umpires
    a(id="umpires")
  hr
  p
    | Umpires are not provided for any league games. The batting team is expected to supply an umpire while their team is at bat. The
    | umpire is expected to be familiar with softball rules and to be impartial. Team captains can discuss questionable calls but ultimately,
    | the umpires call is final
  h3 Bases
    a(id="bases")
  hr
  p
    | The home team is responsible for putting down bases to be used for the game. While not required, a safety base at first can be
    | used provided it can be securely fastened with 2 pegs.
  p
    | A rubber strike mat is to be used in addition to the home plate. The mat will be 2 feet wide by 3 feet long (need to confirm
    | dimensions) with the top of the mat placed covering the triangle at the back of the home plate. Teams are strongly encouraged
    | to purchase a rubber strike mat (available at McTavish's Source for Sports for $~40) so that all teams have the same mat.
    | The home team is expected to supply the mat to be used for the game.
  h3 Scoring
    a(id="scoring")
  h3 Balls
    a(id="balls")
  hr
  p
    | Due to safety concerns, only flight restricted balls will be used in the league. Teams have agreed that Worth Gray Dot softballs (12")
    | will be the preferred ball (available at McTavish's Source for Sports for $~75/dozen). The home team is expected to supply 1 new
    | ball as well as 1 or 2 decent balls for every home game.
  h3 Bats
    a(id="bats")
  hr
  P
    | Due to safety concerns, bats must be approved for play according Slow-Pitch National Bat Policy. Bats must have one of 2 stamps to be
    | considered legal for play.
    ul
      li USSSA 1.20 BPF (Preferred)
      li ASA Certified 2004
    | Links:
    ul
      li http://www.slo­pitch.com/content/slo­pitch­national­bat­policy­0
      li http://www.slo­pitch.com/sites/slo­pitch.com/files/ASA_Non­Approved%20Batlist.pdf
  h3 Pitching Rules
    a(id="pitchingRules")
  hr
  h4 General
    a(id="pitchingRulesGeneral")
  p
    | Pitchers are expected to be able to throw strikes consistently. Pitchers are not expected to throw perfect pitchers all the time,
    | but after several non-strike pitches (no matter how close to a strike they were), a strike must be thrown to keep the game moving.
    | Pitchers who are unable to consistently throw strikes should be replaced with another pitcher. With pitchers standing so close to
    | batters, team captains should not place anyone in the pitching position who cannot protect themselves from abatted ball at that
    | position. There is substantially less time to react.
    | With regard to Arc and Pitchers location, while outlined formally below, are at the discretion of the teams playing. A pitcher can
    | stand farther back (for safety reasons), or throw pitches that are higher than 12feet (minimum safety reasons), or throw pitches
    | that are higher than 12feet (minimum 6feet is a strict rule for a called strike) provided they can consistently throw strikes. If
    | these adjustments lead to a pitcher not being able to throw strikes consistently and keep the game moving along, they the below rules
    | must be followed.
  h4 Arc
    a(id="pitchingRulesArc")
  p
    | There is a 6feet minimum arc the ball must reach on the way to the plate for it to be called a strike. Balls pitched less than 6 feet
    | will be declared no pitch after the catcher is in possession of the ball. A batter may swing, at their discretion, at any ball pitched.
    | If a batter swings at a ball that would have been declared a no pitch ball, the pitch is considered legal and the strike/foul ball/hit
    | will stand.
  h4 Pitchers location
    a(id="pitchingRulesLocation")
  p
    | Pitchers are to stand a reasonable distance near the pitchers mound. For safety reasons they do not have to stand on the mound, but
    | they should not be back so far that they cannot consistently throw strikes or are fielding more balls than a pitcher would normally
    | be able to make a play on.
  h3 Fielding Rules
    a(id="fieldingRules")
  hr
  h4 General
    a(id="fieldingRulesGeneral")
  p
    | Teams are allowed to make fielding substitutions at their will, between innings or during innings if needed. There is no limit to the
    | number of times a fielder can be switched between fielding and on the bench. Teams are allowed to field up to 10 players at a time as
    | long as certain criteria are met.
    ul
      li 10 players
        li Teams must have at least 3 girls on the field in order to field 10 players. There is no restriction on where the girls can play.
      li 9 players
        li Teams can only field 9 players if there are only 2 girls available to play the field. The position that is lost must be the rover.
      li 8 players
        li 8 players is the minimum number of players a team must have to not forfeit the game, provided there are at least 2 girls present.
          | At this point the opposing team will supply a catcher for the team with only 8 players. The catcher should make a reasonable
          | effort to make a play on any ball to help the fielding team out.
    | Teams are not allowed to play more than 4 outfielders (3 if there is no rover) and 4 infielders (not counting the pitcher and catcher).
    | The rover and all outfielders must stand in the grass before every play begins. Infielders can stand on the grass provided it is for
    | safety reasons and not to put more fielders in the outfield.
  h4 Catcher
    a(id="fieldingRulesCatcher")
  p
    | For safety reasons, the catcher is to stand a reasonable distance behind home plate so that they have time to react if a ball is foul
    | tipped (batted backwards).
    | When making a play at home plate, because of the commitment line, catches are highly encouraged to stand on home plate/strike mat to
    | catch the ball. If a ball is caught before the runner crosses the home plate line, the runner will be called out.
  h3 Hitting Rules
    a(id="hittingRules")
  hr
  h4 General
    a(id="hittingRulesGeneral")
  p
    | Teams are required to bat all players who are playing in the game.
  h4 Batting
    a(id="hittingRulesBatting")
  p
    | The batting order must be ordered such that at no time there are 3 guys batting in a row. The exception to this rule is at the bottom
    | of the lineup. When wrapping from the bottom to the top of the batting order, 3 guys can bat in a row.
    | When a home run is hit, any runners on the bases will advance to home and score. The person who hit the home run must stop at second base.
    | For ground rule doubles, the batter will proceed to second base. If there was a runner on first, they will proceed to third base. Any
    | other runners score as normal. If a ball does bounce over the fence, goes under, or goes between the opening in some fields, the
    | outfielder should immediately signal that it is only a ground rule double.
    | If a batter has 2 strikes on them, and then hits a foul ball over one of the foul fences, the batter will be declared out. The batter
    | is not declared out if the ball goes foul but remains in the field.
    | The batter will only be out on a foul tip caught by the catcher if the ball reached a minimum of 6 feet after the ball is contacted by
    | the bat and before being caught.
    | A strike will be called if the batter swings and misses, or if the ball contacts the home plate or strike mat.
    | Balls will not be kept track of and there are no walks.
    | An Infield fly (A fly ball where an infielder has a reasonable chance to make the catch, with runners on first and second, or first
    | second and third with less than 2 out) will be shouted by the umpire. At this time the batter will be
    | out and runners do not have to advance. They can advance at their own risk.
  h4 Base Running
    a(id="hittingRulesBaseRunning")
  p
    | Courtesy runners can be used for injured players and must be declared to the fielding team. A courtesy runner must be the same sex as
    | the batter and be immediately above the batter in the batting order (unless they are on a base, in which case the next available player
    | will be used).
    | Sliding is permitted in the league, but is strongly discouraged. Players are only to slide to avoid a collision. If the intent was to
    | break up a play, or significant contact was made to disrupt a play, the runner will be called out.
    | Runners are high encouraged not to touch home plate. For a runner to score they only have to cross the first base foul line that is
    | extended to the fence. A runner who touches home plate will not be called out, unless they make contact with the catcher and interferes
    | with a play being made.
