h2 Navigation
hr

ul
  li
    a(class='navLink', href='/index') Home
  li
    a(class='navLink', href='/standings') Standings
  li
    a(class='navLink', href='/schedule') Schedule
  li
    a(class='navLink', href='/leagueRules') League Rules
  li
    a(class='navLink', href='/teams') Teams
  li
    a(class='navLink', href='/fields') Fields
  li
    a(class='navLink', href='/contact') Contact
if(typeof user != 'undefined')
  if user[0].role == "admin"
    div
      br
      p Admin Links
      hr
      ul
        li
          a(class='navLink', href='/manage/teams') Teams
        li
          a(class='navLink', href='/manage/fields') Fields
        li
          a(class='navLink', href='/manage/schedule') Schedule
        li
          a(class='navLink', href='/manage/seasons') Seasons
  if user[0].role == "admin" || user[0].role == "manager"
    div
      br
      p Manager Links
      hr
      ul
        li
          //a(class='navLink', href='/') Submit Score
