extends layout

block append scripts

block content
  h1 Registration Successful
  p Registration was successful. The league administrator will need to approve your account before you can begin using it.
