extends layout

block append scripts

block content
  form
    p Username: 
      input(type="text")
    p Password:
      input(type="password")
    p Remember me:
      input(type="checkbox")
    p Login
      input(type="button" text="Login")
    
    